:root.theme-dark {
  --text-color: #000028;
  --title-color: #DB00FF;
  --title-colot-shadow: #FF0070;
  --background-color: #FF0070;
  --card-text-color: #F1B2CE;
  --now-hover: rgb(255 0 112 / 0.4);
  --bg-color: #000028;
  --bachground-image: url(../images/cover-image-dark.png);
  --color-decor: #FF0070;
}

.theme-dark .rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
  --text-color: #000028;
  --title-color: #DB00FF;
  --title-colot-shadow: #FF0070;
  --background-color: #FF0070;
  --card-text-color: #F1B2CE;
  --now-hover: rgb(255 0 112 / 0.4);
  --bg-color: #000028;
  --bachground-image: url(../images/cover-image-dark.png);
  --color-decor: #FF0070;
  }

  .rec {
    display: block;
  }
}