:root.theme-light {
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-colot-shadow: #ff8dcb;
  --background-color: #ff8dcb;
  --card-text-color: #353430;
  --now-hover: rgb(50 49 45 / 0.4);
  --bachground-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --color-decor: #353430;
  --now-hover-visible: #353430;
}

.theme-light .rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-colot-shadow: #ff8dcb;
    --background-color: #ff8dcb;
    --card-text-color: #353430;
    --now-hover: rgb(50 49 45 / 0.4);
    --bachground-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --color-decor: #353430;
    --now-hover-visible: #353430;
  }

  .rec {
    display: none;
  }
}
