:root.theme-light {
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-colot-shadow: #FF8DCB;
  --background-color: #FF8DCB;
  --card-text-color: #353430;
  --now-hover: rgb(50 49 45 / 0.4);
  --bachground-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-colot-shadow: #FF8DCB;
  --background-color: #FF8DCB;
  --card-text-color: #353430;
  --now-hover: rgb(50 49 45 / 0.4);
  --bachground-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  }
}
